[Unit]
Description=Node.js HomeKit Server 
After=syslog.target network-online.target home-assistant@hass.service

[Service]
Type=simple
User=homebridge
EnvironmentFile=/etc/default/homebridge
ExecStart=/usr/bin/homebridge $HOMEBRIDGE_OPTS
Restart={{ homebridge_restart }}
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target

